<div class="credits">
  <div class="credits-inner">

    <div class="credits-list">

      <div class="credit">
        <p><span class="heading">Created by</span> <a href="http://panstudio.co.uk"><img src="/images/pan@2x.png" alt="PAN Studio" width="100" height="100"></a></p>
      </div>

      <div class="credit double">
        <p><span class="heading">In partnership with</span>

          <span class="logos">
            <a href="http://citedigitale.bordeaux.fr/"><img src="/images/semaine-digitale@2x.png" alt="Semaine Digitale de Bordeaux" width="130" height="130"></a>
            <a href="http://www.bordeaux.fr/"><img src="/images/bordeaux-city@2x.png" alt="Ville de Bordeaux" width="130" height="130"></a>
            <a href="http://www.bordeaux-metropole.fr/"><img src="/images/bordeaux-metropole@2x.png" alt="Bordeaux Métropole" width="130" height="130"></a>
          </span>

        </p>
      </div>

      <div class="credit">
        <p><span class="heading">Originally developed for<br> <strong>Watershed’s Playable City Award 2013</strong></span> <a href="http://www.watershed.co.uk/playablecity"><img src="/images/watershed@2x.png" alt="" width="100" height="100"></a></p>
      </div>
    </div>

  </div>
</div>
