<footer>
  <div class="grid-container">
    <div class="col-3">
      <p>&#xa9; Pan Studio <?php echo date("Y"); ?></p>
    </div>
    <div class="col-3">
      <a href="/terms-and-conditions.pdf" target="_blank">Terms &amp; Conditions</a>
    </div>
    <div class="col-3">
      <a class="js-to-top">To Top</a>
    </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>
<script src="/assets/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        loop: true,
        prevButton: '.swiper-button-prev',
        spaceBetween: 30, 
        autoplay: 10000
    });
</script>