<div class="footer">
  <div class="inner">

    <div class="footer-content">
      <div class="footer-social">
        <a href="https://www.facebook.com/studioPAN"><img src="/images/facebook.png" alt=""></a>
        <a href="http://twitter.com/pan_studio"><img src="/images/twitter.png" alt=""></a>
      </div>

      <div class="footer-logo">
        <img src="/images/hello-lamp-post-white.png" alt="" width="111">
      </div>

      <div class="footer-copyright">
        <p>PAN Studio<br/>2016</p>
      </div>
    </div>

  </div>
</div>