
<a class="pop-up" href="http://queenelizabetholympicpark.co.uk" target="_blank">
  <div class="grid-container">
    <p>For information about Queen Elizabeth Olympic Park and its venues, please visit the Park site.</p>
  </div>
</a>
<!-- <header>
  <div class="grid-container">
    <div class="col-3">
      <img src="images/logo.svg">
    </div>
    <a class="js-video-pause link-exit"></a>
  </div>
</header> -->