<script src="/assets/classList.js"></script>
<script src="/assets/conversation_demo.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var conversation_demo = new ConversationDemo();
  })
</script>
<article class="homepage">
    <section class="hero message">
      <div class="grid-container">
          <div class="row text-row">
            <div class="col-6">
              <h1>Hello Lamp Post ran for six weeks in November and December 2016, bringing Queen Elizabeth Olympic Park's street furniture to life.</h1>
            </div>
          </div>
          <div class="row">
            <div class="conversation-demo">
                <div class="bubble question" id="question-bubble">
                  <div class="bubble-inner">
                    <h4>Question</h4>
                    <div class="text">I hope you've had a nice journey out today. How do you think people will travel in 10 years?</div>
                  </div>
                </div>
                <div class="bubble answer" id="answer-bubble">
                  <div class="bubble-inner">
                    <h4>Answer</h4>
                    <div class="text">Maybe driverless cars, maybe giant metal eagles with glowing eyes and side-mounted machineguns</div>
                  </div>
                  <div class="object-ref">Hockey and Tennis Centre #hatc</div>
                </div>
                <div class="buttons">
                  <button class="new-question hidden" id="new-question-button">Next Question</button>
                  <button class="next-answer hidden" id="next-answer-button">Next Answer</button>
              </div>
            </div>
          </div>
        </div>
        <img class="bg-image" src="/images/home-image.jpg">
        <img class="image-bottom" src="/images/graphics.svg">
        <a class="js-scroll-down-button scroll-down-button">How It Works</a>
    </section>
    <section class="process">
      <div class="grid-container">
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-1.svg">
            </div>
            <h4>Pick An Object</h4>
            <p>Look out for an item of street furniture, object or building with a code on it.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-2.svg">
            </div>
            <h4>Say Hello</h4>
            <p>Send a text in this format: <span class="bold">Hello object #code</span> e.g. “Hello Lamp Post #B6291”.</p>
          </div>
        </div>
        <div class="col-4">
          <div class="process-item">
            <div class="image-circle">
              <img src="/images/process-3.svg">
            </div>
            <h4>Keep Talking</h4>
            <p>You’ll soon get a reply. Answer the object’s questions and learn what other people have to say.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="hero video">
      <img class="image-bottom" src="/images/graphics.svg">
      <img class="bg-image" src="/images/yellow-bg.svg">
      <div class="fake-grid">
        <div class="col-6-fake information-holder">
          <div class="image">
            <iframe class="depot-video" src="https://player.vimeo.com/video/187187880?title=0&byline=0&portrait=0" width="150" height="85" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="information">
      <img src="/images/bg-how-it-works.jpg">
      <div class="right-block"></div>
      <div class="grid-container">
        <div class="col-6 right">
          <h5>Information</h5>
          <h1>Ever wondered what it might be like to have a conversation with a lamp post, letterbox or building? </h1>
          <p>Hello Lamp Post is waking up for the first time in London in and around Queen Elizabeth Olympic Park. With a range of street objects and buildings waking up and talking, Hello Lamp Post encourages you to look at the area in which you live, work or play with fresh eyes and engage with objects you might sometimes take for granted. Why not tell the London Aquatics Centre about the amazing view, or tell the bench you’re sitting on about your day? Hello Lamp Post has already seen success in Singapore, Austin and Bristol.</p>
          <a class="link-btn-one js-learn-more">Show More</a>
        </div>
      </div>
    </section>
    <section class="how-to-play">
      <div class="grid-container">
        <div class="col-6">
          <h1>More Information</h1>
          <p>If you look closely, most street objects have a manufacturer or maintenance reference code on them. These codes are used by operators to distinguish one object from another. Hello Lamp Post gives a new use to these existing codes by allowing localised conversations in public spaces.</p>
          <p>You can have a chat with any object- post boxes, bollards, bus stops, boats, utility boxes, bridges, telegraph poles - and of course lamp posts themselves! What’s more, for the first time ever, you’ll also be able to speak to the iconic buildings and features of the Park- including the London Stadium, Lee Valley VeloPark, the London Aquatics Centre and the Olympic Rings.</p>
        </div>
        <div class="col-6 pushed-column">
          <p>The interaction takes the form of a conversation. The objects are curious about the world they find themselves in and want to ask you questions about it. The response they receive are then shared with other players meaning an object understands the personality and people of the local area.</p>
          <p>Conversations can be started from any mobile phone that sends text (SMS) messages. It’s free to play (standard SMS and data rates apply) and it’s suitable for all ages.</p>
          <p class="small">Please note, as Hello Lamp Post is geared towards sharing thoughts and opinions within a fun conversation, the objects themselves won’t give operational information such as opening times and ticket prices.</p>
        </div>
      </div>
    </section>
    <section class="contact">
      <div class="grid-container">
        <div class="col-6">
          <h5>Contact Us</h5>
          <h1>Talk to us</h1>
          <p>Hello Lamp Post has been commissioned for Queen Elizabeth Olympic Park by the London Legacy Development Corporation and with funding from the EU Climate KIC initiative.</p>
          <p>Hello Lamp Post was first commissioned for Watershed’s Playable City Award 2013 and ran for 8 weeks in Bristol. The project was developed with Tom Armitage and Gyorgyi Galik.</p>
          <p>If you want to get involved with Hello Lamp Post and find out what your city has to say, please get in touch.</p>
          <a class="link-btn-one" href="mailto:ben.barker@panstudio.co.uk?Subject=Hello%20Lampost%20Enquiry">Get In Touch</a>
        </div>
        <div class="col-4">
          <div class="swiper-controls">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            <div class="swiper-container">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <h3>Hello Lamp Post Brighton, <span>2016</span></h3>
                        <div class="image-circle"><img src="/images/hlp-brighton.jpg"></div>
                        <p>We woke up street furniture in September 2016 as part of Brighton Digital Festival.</p>
                      </div>
                      <div class="swiper-slide">
                        <h3>Hello Lamp Post Austin, <span>2015</span></h3>
                        <div class="image-circle"><img src="/images/hlp-austin.jpg"></div>
                        <p>Hello Lamp Post in Austin in March 2015 as part of SXSW Festival.</p>
                      </div>
                      <div class="swiper-slide">
                        <h3>Hello Lamp Post Singapore, <span>2015</span></h3>
                        <div class="image-circle"><img src="/images/hlp-singapore.jpg"></div>
                        <p>Hello Lamp Post in Singapore in October 2015 as part of SG15.</p>
                      </div>
                      <div class="swiper-slide">
                        <h3>Hello Lamp Post Bristol, <span>2013</span></h3>
                        <div class="image-circle"><img src="/images/hlp-bristol.jpg"></div>
                        <p>Hello Lamp Post premiered in Bristol 2013 where 25,000 text messages were sent in just eight weeks.</p>
                      </div>
                  </div>
              </div>
          </div> 
        </div>
      </div>
    </section>
    <section class="supporters">
      <div class="grid-container">
        <div class="col-3">
          <img src="/images/pan-logo.png">
        </div>
        <div class="col-3">
          <img src="/images/kic-logo.png">
        </div>
        <div class="col-3">
          <img src="/images/newham-logo.png">
        </div>
        <div class="col-3">
          <img src="/images/qeop-logo.png">
        </div>
      </div>
    </section>
  </article>