
<div class="hero">
  <div class="inner hero-about">
    <h1>Not Found</h1>
  </div>
</div>

<div class="">

  <div class="inner">
    <p>Street objects need a name and a code, eg <kbd>lamp post #12334</kbd>. <a href="/objects">Try again</a>.</p>
  </div>

</div>