<div class="hero">
  <div class="inner hero-about">
    <h1>Tours</h1>
    <p>Our cultural partners have been talking to street furniture already. Follow their suggestions for some interesting stories.</p>
  </div>
</div>

<div class="page-content">
  <div class="tours-list inner">

<div class="tour">
      <div class="tour-image">
        <img src="/images/art-alliance-austin.png" alt="Art Alliance">
      </div>
      <div class="tour-info">
        <h2>Art Alliance Tour </h2>
        <p>Art Alliance</p>
        <p><b>Date - March 17 - ongoing</b><br>
        Welcome to the Art Alliance Austin tour of Hello Lamp Post! Follow the map on the back to talk to some of our favorite objects, which just happen to be next to some of our favorite Austin art spaces.
          <p><a href="/pdfs/art-aliance-tour.pdf">Download map [PDF]</a></p>
        </p>
      </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="/images/aia-austin.png" alt="">
      </div>
      <div class="tour-info">
        <h2>Let’s Talk Metal</h2>
        <p>Austin Chapter of the American Institute of Architects</p>
        <p><a href="/pdfs/lets-talk-metal-tour.pdf">Download map [PDF]</a></p>

        <p><b>Date – March 4 - 18</b><br>Events – Mappy Hour. Tuesday, March 10th from 5:00 to 7:00PM at AIA Austin.<br>
        <p>Metal — a testament to the Industrial Age’s impact on urbanism and architecture— is a man made alloy that composes the framework of our built environment. It is resilient and pervasive—taking shape in myriad forms. You find it in lamp posts, utility boxes, street furniture, architectural elements, signage, sculpture, and raw structure. We hope you enjoy your tour and conversations with the metallic inhabitants of Austin.</p>
      </div>
    </div>

<div class="tour">
      <div class="tour-image">
        <img src="/images/fusebox.png" alt="Fusebox">
      </div>
      <div class="tour-info">
        <h2>Fusebox Tour</h2>
        <p>Fusebox</p>
        <p><b>Date  – April 1 - 12</b></p>
        <p>Say hello to objects and venues all around the 2015 Fusebox
Festival. Fusebox is 12 days of unique programming with 50+ events in 20+
different sites around the city. We like to think of the festival as a
hybrid art festival. It's part performance festival, part film festival,
part music and visual art festival, part culinary and social event, part
public art project, and everything in between. The colliding and
encountering of different ideas, perspectives, forms, etc., is central to
our understanding of creativity and plays an important role in how we shape
the festival each year.</b></p>
      </div>
    </div>


    <div class="tour">
      <div class="tour-image">
        <img src="/images/landmarks.png" alt="">
      </div>
      <div class="tour-info">
        <h2>Landmarks Guided Tour</h2>
        <p>Landmarks</p>
         <p><a href="/pdfs/landmarks-tour.pdf">Download tour [PDF]</a></p>
        <p><b>Sunday, April 12, 11 a.m.</b></p>
         <p>Meet at 11 a.m. in front of the southern entrance of the <a href="https://www.facebook.com/pages/Main-Building-University-of-Texas-at-Austin/102554919798756">Main Building</a>. Your docent guide will walk you through UT’s original 40 acres to text some of UT's most distinguished inanimate objects.</p>
      </div>
    </div>


    <div class="tour">
      <div class="tour-image">
        <img src="/images/austin-technology-council.png" alt="">
      </div>
      <div class="tour-info">
        <h2>Austin Technology Counci Tour</h2>
        <p>Austin Technology Council</p>
        <p><b>Date  – TBA<br>Events  – TBA</b></p>
      </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="/images/waller-creek-conservancy.png" alt="">
      </div>
      <div class="tour-info">
        <h2>Generation Waller</h2>
        <p>Waller Creek Conservancy and Red River Cultural District</p>
        <p><b>Launch party: April 2nd, 5:30pm</b></p>
      </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="/images/red-river-cultural-district.png" alt="">
      </div>
    <div class="tour-info">
        <h2>Red River Tour</h2>
        <p>Red River Cultural District</p>
        <p><b>Date - TBA<br>Events  – TBA</b></p>
      </div>
    </div>

    <div class="tour">
      <div class="tour-image">
        <img src="/images/austin-parks-foundation.png" alt="Austin Parks Foundation">
      </div>
      <div class="tour-info">
        <h2>Austin Parks Foundation Tour</h2>
        <p>Austin Parks Foundation</p>
        <p><b>Date  – TBA<br>Events  – TBA</b></p>
      </div>
    </div>

  </div>
</div>
