
* {
  background-repeat: no-repeat;
}

.conversation-demo {
  background-image: url('/images/main-background.png');
  background-repeat: no-repeat;
  background-position: top center ;
  background-size: 512px 384px;
}

.next-answer,
.new-question {
  background-size: 22px 82px;
}

.new-question:disabled,
.next-answer:disabled {
  background-position: 0 -47px;
}

.next-answer {
  background-image: url('/images/right-arrow.png');
}

.new-question {
  background-image: url('/images/left-arrow.png');
}


.how-to-play .step-number {
  height: 190px;
}

.how-to-play-step.step-1 {
  background-image: url('/images/play-1.png');
  background-position: top 20px center;
  background-size: 147px 147px;
}

.how-to-play-step.step-2 {
  background-image: url('/images/play-2.png');
  background-position: top 36px center;
  background-size: 146px 131px;
}
.how-to-play-step.step-3 {
  background-image: url('/images/play-3.png');
  background-position: top 6px center;
  background-size: 147px 161px;
}

@media (min-width: 900px) {

  .bubble.question {
    background-image: url('/images/question-triangle.png');
    background-position: right bottom 1px;
    background-size: 52px 25px;
  }

  .bubble.answer {
    background-image: url('/images/answer-triangle.png');
    background-position: right top 1px;
    background-size: 52px 25px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

  .how-to-play-step.step-1 { background-image: url('/images/play-1@2x.png'); }
  .how-to-play-step.step-2 { background-image: url('/images/play-2@2x.png'); }
  .how-to-play-step.step-3 { background-image: url('/images/play-3@2x.png'); }

  .next-answer {
    background-image: url('/images/right-arrow@2x.png');
  }

  .new-question {
    background-image: url('/images/left-arrow@2x.png');
  }
}

@media (min-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {


  .bubble.question { background-image: url('/images/question-triangle@2x.png'); }
  .bubble.answer { background-image: url('/images/answer-triangle@2x.png');}
}