
/* Base styles */

body {
  color: black;
  background-color: white;
}

h2 {
  color: #272727;
}

h3 {
  color: #fece06;
}

h5 {
  color: #000;
}

a {
  color: black;
}

a:hover {
  color: black;
}


.header a {
  color: inherit;
}

.header a:hover,
.header .current {
  color: #fece06;
}

.footer {
  background-color: #fece06;
  color: white;
}

.credits {
  background-color: #EEE;
}

.hero,
.how-to-play,
.object-search,
.yellow-bg,
.home-content {
  background-color: #fece06;
}

.how-to-play a {
  color: inherit;
  font-family: 'Gotham-Medium';
}

.step-number {
  color: white;
}

.search-code {
  border-color: white;
  color: white;
  background-color: transparent;
}

.search-code::-webkit-input-placeholder {
  color: white;
}

.search-code::-moz-placeholder {
  color: white;
}

.search-code:-ms-input-placeholder {
  color: white;
}

a.button,
button {
  background-color: #444;
  color: white;
  border-width: 0;
  cursor: pointer;
  transition: background-color ease 300ms;
}

a.button:hover,
button:hover {
  color: white;
  background-color: black;
}

.bubble .bubble-heading {
  color: #fece06;
}

button.next-answer,
button.new-question {
  background-color: #fece06;
}


button.next-answer,
button.new-question,
button.next-answer:disabled,
button.new-question:disabled {
  background-color: transparent;
  color: black;
}

.bring-to-your-city {
  background-color: black;
  color: white;
}

.bring-to-your-city h2 {
  color: inherit;
}