

.bubble.question {
  transition: 400ms all ease-out;
}

.bubble.answer {
  transition: 400ms all ease-out;
}

.bubble.question.off {
  transition: 400ms all ease-in;
}

.bubble.answer.off {
  transition: 400ms all ease-in;
}
