
@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Medium.otf')  format('opentype'),
       url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Light';
  src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Light.otf')  format('opentype'),
       url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf')  format('truetype'), url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Base styles */

body {
  font-family: Gotham-Light, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  font-size: 21px;
  line-height: 25px;
}

a,
.header a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 26px;
  line-height: 32px;
  font-family: Gotham-Medium, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  margin:0;
  padding:0;
  text-transform: uppercase;
  padding-top:20px;
  padding-bottom:20px;
}

p{
  line-height: 1.5em;
}
@media (min-width: 600px) {
  h1 {
    font-size: 38px;
    line-height: 45px;
  }
}

h1 strong {
  font-family: Gotham-Medium, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
}

.subtitle {
  font-size: 30px;
  padding-bottom:30px;
  line-height: 36px;
  font-family: Gotham-light, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 25px;
  font-family: Gotham-Medium, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  margin: 0 0 .4em 0;
  padding:0;
  text-transform: uppercase;
 }

h3 {
  font-size: 0.8em;
  font-family: Gotham-light, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  margin:0;
  padding:0;
  text-transform: uppercase;
 }

h5 {
  font-size: 0.8em;
  font-family: Gotham-light, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  margin:0;
  padding:0;
  text-transform: uppercase;
}

 kbd {
  font-family: 'Gotham-Medium';
}

samp {
  font-family: inherit;
}


/* More specific styles */

.credits {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
}

.credits .title {
  font-family: 'Gotham-Medium';
}

.header .languages {
  font-size: 12px;
  line-height: 14px;
}

.bubble {
  font-size: 15px;
  line-height: 22px;
}

.bubble .bubble-heading {
  text-transform: uppercase;
  font-family: 'Gotham-Medium';
  font-size: 15px; line-height: 18px;
}

.bubble .object-ref {
  font-size: 12px;
  line-height: 14px;
}

@media (min-width: 900px) {
  .bubble {
    font-size: 21px;
    line-height: 25px;
  }
}

.left-align{
  text-align:left;
}
.sub-title {
  text-align: center;
  font-size: 20px;
  line-height: 36px;
}

.step-number {
  font-size: 40px;
  line-height: 60px;
}

.links {
  font-family: Gotham-Black, helvetica, arial, 'Meiryo','MS PGothic',Osaka,sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.footer {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.how-to-play-step {
  font-size: 15px;
  line-height: 18px;
}