//= require _colours
//= require _typography
//= require _layout
//= require _background_images
//= require _transitions

* {
  box-sizing: border-box;
}

.hero-video {
  max-width:  1200px;
  margin-left: auto; margin-right: auto;
  padding-bottom:30px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 40px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
}

.header-container {
  margin-left: auto; margin-right: auto;
  max-width: 1000px;
}

.header {
  width: 100%;
  padding: 20px 0px;
}
.header img{
  height:140px;
  width:auto;
}

.logoContainer{
  width:150px;
  height:150px;
  padding-bottom:16px;
  display:block;
  margin:auto;
}
.logoContainer img{
  height:100%;
  width:auto;
}

.launches {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 60px;
  width: 100%;
  text-align: center;
}

body {
  margin: 0px;
}

.page .header {
  background-color: #fece06;
}


input[type=search],
input[type=text],
button,
a.button {
  display: inline-block;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Gotham-Medium';
  line-height: 20px;
  padding-top: 10px; padding-bottom: 10px;
  padding-left: 20px; padding-right: 20px;
  height: 44px;
  border-style: solid;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus, button:focus {
  outline: none;
}


a.button,
button {
  border-width: 0;
  line-height: 24px;
  cursor: pointer;
  transition: background-color ease 300ms;
}

button[disabled] {
  background-color: #666;
}

.save-the-date {
  border-width: 1px 0;
  border-color: #fece06;
  border-style: solid;
  margin: 10px 0;
  padding: 20px 0 0 0 ;
}

.embedded-video {
  width: 100%;
}

iframe {
  border-width: 0;
}

p {
  margin: 0 0 11px 0;
}

strong {
  font-family: 'Gotham-Medium';
}

a img {
  border-width: 0;
}